$radius-block-ui: 0;
$dark-gray-primary: #f9f9f9;

// set the editor width to 70%
.wp-block[data-type="photopress/gallery"] {
	
	min-width:70%;
}

// deal with margins in the block editor.
.editor-styles-wrapper {

	.photopress-gallery {
		
		ul {
	
			padding:0;
			margin:0;
		}
		
		ul.photopress-gallery-rows, ul.photopress-gallery-mosaic {
					
			// use negative margin hack to create even gutters.
			// https://www.rawkblog.com/2019/01/flexbox-gutters-negative-margins-solved/
			margin-left: calc( var(--pp-gallery-gutter) * -1 );
			padding:0;
			
		}
	}
}

.photopress-gallery-item {
	
	line-height: 0px;
	
	// Hide the focus outline that otherwise briefly appears when selecting a block.
	figure:not(.is-selected):focus,
	img:focus {
		outline: none;
	}

	figure.is-selected {
		box-shadow: 0 0 0 2 white, 0 0 0 3px white;
		border-radius: 2px;
		outline: 2px solid transparent;
		
		img {
			border-radius: $radius-block-ui;
		}
	}

	figure.is-transient img {
		opacity: 0.3;
	}

	.is-selected .photopress-gallery-item__move-menu,
	.is-selected .photopress-gallery-item__inline-menu {
		background: white;
		border: 1px solid $dark-gray-primary;
		border-radius: $radius-block-ui;
		transition: box-shadow 0.2s ease-out;

		&:hover {
		
		}

		.components-button {
			color: black;
			min-width: 24px;
			height: 24px;
			border-radius: 5px;

			
		}

		.components-button:focus {
			color: inherit;
		}
	}
}

.photopress-gallery-item__move-menu,
.photopress-gallery-item__inline-menu {
	margin: 10px;
	display: inline-flex;
	z-index: z-index(".photopress-gallery-item__inline-menu");

	.components-button {
		color: transparent;
	}

}

figure.is-selected {
    outline: 4px solid #0085ba;
}


.photopress-gallery-item__inline-menu {
	position: absolute;
	top: -2px;
	right: -2px;
}

.photopress-gallery-item__move-menu {
	position: absolute;
	top: -2px;
	left: -2px;
}

.photopress-gallery-item__move-backward.components-button,
.photopress-gallery-item__move-forward.components-button,
.photopress-gallery-item__remove.components-button {
	padding: 0;
	width:20px;
}

.components-button photopress-gallery-item__remove {
	
	width: 20px;
}

.photopress-gallery-item .components-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
}
