.photopress-gallery {
	
	
}

.photopress-gallery-columns, .photopress-gallery-rows {
	
	display: flex;
	flex-wrap: wrap;
}

.photopress-gallery-columns .photopress-gallery-item, .photopress-gallery-rows .photopress-gallery-item {
	
	display:flex;
	flex-flow: column;
	margin: 0 16px 16px 0;
	margin-right: 16px;
	flex-grow: 1;
	justify-content: center;
	position: relative;
	box-sizing: inherit;
	flex-grow: inherit;
}

.photopress-gallery-columns .photopress-gallery-item  img, .photopress-gallery-rows .photopress-gallery-item  img {

    display: block;
    max-width: 100%;
    height: auto;
    width:auto;
}

.photopress-gallery .is-cropped .photopress-gallery-item img {
    height: 100%;
    //flex: 1;
    object-fit: cover;
}

.photopress-gallery-columns .photopress-gallery-item figure {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin:0px;
    height:100%;
}

.photopress-gallery-columns.columns-2 .photopress-gallery-item {
    width: calc((100% - 16px * 3) / 2);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-2 .photopress-gallery-item:nth-of-type(2n) {
    margin-right: 0;
}

.photopress-gallery-columns.columns-3 .photopress-gallery-item {
    width: calc((100% - 16px * 3) / 3);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-3 .photopress-gallery-item:nth-of-type(3n) {
    margin-right: 0;
}

.photopress-gallery-columns.columns-4 .photopress-gallery-item {
    width: calc((100% - 16px * 3) / 4);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-4 .photopress-gallery-item:nth-of-type(4n) {
    margin-right: 0;
}

.photopress-gallery-columns.columns-5 .photopress-gallery-item {
    width: calc((100% - 16px * 4) / 5);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-5 .photopress-gallery-item:nth-of-type(5n) {
    margin-right: 0;
}

.photopress-gallery-columns.columns-6 .photopress-gallery-item {
    width: calc((100% - 16px * 5) / 6);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-6 .photopress-gallery-item:nth-of-type(6n) {
    margin-right: 0;
}

.photopress-gallery-columns.columns-7 .photopress-gallery-item {
    width: calc((100% - 16px * 6) / 7);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-7 .photopress-gallery-item:nth-of-type(7n) {
    margin-right: 0;
}

.photopress-gallery-columns.columns-8 .photopress-gallery-item {
    width: calc((100% - 16px * 7) / 8);
    margin-right: 16px;
}

.photopress-gallery-columns.columns-8 .photopress-gallery-item:nth-of-type(8n) {
    margin-right: 0;
}

.photopress-gallery-rows .photopress-gallery-item  {
	
	max-width:100%
}

.photopress-gallery-rows .photopress-gallery-item figure {
	
	height:300px;
}

.photopress-gallery-rows .photopress-gallery-item figure img {
	
	height:100%;
}
