@import "../../shared/styles/columns.scss";
@import "../../shared/styles/slideshow.scss";

:root {
	
	--pp-gallery-rowheight: 300px;
}

.photopress-gallery {
	
	li { 
		list-style:none;
	}
	
}

figure.photopress-gallery {
	display: block;
	//margin: 0;
	// needed for rows layout to offset negative margin hack for gutters
	overflow-x: hidden;
}

.photopress-gallery-columns, .photopress-gallery-rows, .photopress-gallery-mosaic {
	
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-left:0;
}

.photopress-gallery-rows, .photopress-gallery-mosaic {
	
	// use negative margin hack to create even gutters.
	// https://www.rawkblog.com/2019/01/flexbox-gutters-negative-margins-solved/
	margin-left: calc( var(--pp-gallery-gutter) * -1 );
	padding:0;
	
	.photopress-gallery-item {
		
		display:flex;
		flex-flow: column;
		margin: 0;
		margin-bottom: var(--pp-gallery-gutter);
		margin-left: var(--pp-gallery-gutter);
		flex-grow: 1;
		justify-content: center;
		position: relative;
		box-sizing: inherit;
		flex-grow: inherit;
	}
	
	
}

.photopress-gallery-masonry {
	
	.photopress-gallery-item {
		
		.photopress-gallery-item__figure {
		
			img {
				
				max-width: calc(100vw - ( var(--pp-gallery-gutter) *2 ) );
				display:inline-block;
			}
		}
	}
}

.photopress-gallery-mosaic {
	
	.photopress-gallery-item {
		
		flex-grow: 1;
		
		img {
			
			object-fit:cover;
		}
	}
	
	// this is needded to avoid the last item in the flexbox from
	// becoming distorted
	.mosaic-spacer {
		
		flex-grow: 10;
	}
}


.photopress-gallery-columns {
	
	.photopress-gallery-item {
	
		display:flex;
		flex-flow: column;
		margin: 0 16px 16px 0;
		margin-bottom: var(--pp-gallery-gutter);
		margin-right: var(--pp-gallery-gutter);
		flex-grow: 1;
		justify-content: center;
		position: relative;
		box-sizing: inherit;
		flex-grow: inherit;
		width: calc((100% - var(--pp-gallery-gutter) * 3) / 1);
		margin-right: var(--pp-gallery-gutter);
	}
}

.photopress-gallery-columns, .photopress-gallery-rows, .photopress-gallery-mosaic {
	
	.photopress-gallery-item  {
		
		img {
			
			display: block;
		    max-width: 100%;
		    height: auto;
		    width:auto;
		    width:100%;
		}
		
		figure {
			
		    display: flex;
		    align-items: flex-end;
		    justify-content: flex-start;
		    height:100%;
		}
	}
}

.photopress-gallery {

	.is-cropped { 
		
		.photopress-gallery-item { 
			
			figure {
	
				align-items: normal;
			}
			
			img {
				
				height: 100%;
			    width:100%;
			    object-fit: cover;
			}
		}
	}
}

.photopress-gallery figure {
	
	margin:0;
	line-height:0;
}


/*
.photopress-gallery-columns .photopress-gallery-item {
	
	width: calc((100% - var(--pp-gallery-gutter) * 3) / 1);
	margin-right: var(--pp-gallery-gutter);
}
*/

.photopress-gallery-rows .photopress-gallery-item, .photopress-gallery-mosaic .photopress-gallery-item  {
	
	max-width:100%
}

.photopress-gallery-rows .photopress-gallery-item figure, .photopress-gallery-mosaic .photopress-gallery-item figure {
	
	height: var(--pp-gallery-rowheight);
}

.photopress-gallery-rows .photopress-gallery-item figure img, .photopress-gallery-mosaic .photopress-gallery-item figure img {
	
	height:100%;
}

.photopress-gallery .photopress-gallery-masonry {
	// margin auto centers the gallery. margin 0 makes it left justified.
	margin:auto;
	padding: 0;
	width:auto;
	// opacity hides the initial items untill masonry completes layout.
	opacity: 0;
}

.photopress-gallery-item figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 40px 10px 9px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 70%, transparent);
	line-height: 1.8em;

}



