/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-photopress-childpages__inner {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.wp-block-photopress-childpages__item {
	
	flex: 1 1 auto;
	
}

.wp-block-photopress-childpages__image img {
	
	object-fit: cover;	
	height: inherit;
	
}

.wp-block-photopress-childpages__content {
	
	
}

.photopress-childpages {
	
	.photopress-gallery-columns {
		
		.photopress-gallery-item {
			
			.photopress-gallery-item__figure {
	
				line-height: 1.5;
				align-items: center;
			}			
			
		}
	}
	
}
