/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-photopress-block  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

wp-block-photopress-childpages__inner {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}