/**
 * #.# Common SCSS
 *
 */

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

$break-medium: 782px;	// adminbar goes big
$break-small: 600px;
$break-mobile: 480px;
$break-zoomedin: 280px;
$content-width: 700px;


/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.flex-row-break {
  flex-basis: 100%;
  height: 0;
}